.About{
    height:100vh;
    width:100%;
    background:white;
    padding :5% 0%;
}
.in-about{
    background: rgb(0, 0, 0);
    height:90%;
    width:96%;
    margin-left:2%;
    margin-right:2%;
    color:white;
}