#skill{
    color:white;
}
section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px ;
    margin-left: 120px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom:50px ;
}
.bar{
    font-size: 23px;
}
.technical .bar{
    margin-top: 40px 0 ;
}
.technical .bar:first-child{
    margin-top: 0;
}
.technical .bar:last-child{
    margin-bottom: 0;
}
.technical .bar .info{
    margin-bottom: 5px;
}
.technical .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showtext .5s 1s linear forwards;
    opacity: 1;
}
.technical .bar .progress-line{
    position: relative;
    width: 80%;
    height: 8px;
    background: rgb(34, 34, 34);
    border-radius: 10px;
    transform-origin: left;
}
@keyframes animate{
    from{
        transform: scaleX(0);
        border-radius: 10px;
    }
    to{
        transform: scaleX(1);
        border-radius: 10px;
    }
}
.html span{
    width: 90%;
}
.css span{
    width: 90%;
}
.javascript span{
    width: 80%;
}
.python span{
    width:99%;
}
.sass span{
    width: 55%;
}
.technical .bar .progress-line span{
    height: 8px;
    background: #07ff17;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s ease forwards;
    transform-origin: left;
}