*{
    margin: 0;
    padding: 0;
    font-family:Verdana;

}
.icon{
    color:aqua;
    font-size:30px;
    padding:20px;
    width:50%;
    display:flex;
    justify-content:space-evenly;
}
.icon i{
    text-align:center;
    align-content:center;
    width:35px;
    height:35px;
    border:solid aqua;
    border-radius:100%;
}
.ball:hover{
    background: aqua;
    color:rgb(51, 0, 51);
    box-shadow:0px 0px 25px aqua;
}
.f:hover{
    background: aqua;
    color:rgb(51, 0, 51);
    box-shadow:0px 0px 25px aqua;
}
.i:hover{
    background: aqua;
    color:rgb(51, 0, 51);
    box-shadow:0px 0px 25px aqua;
}
.l:hover{
    background: aqua;
    color:rgb(51, 0, 51);
    box-shadow:0px 0px 25px aqua;
}
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(to bottom, #141e30, #0b407c);
}
img{
    transition: scale 0.8s;
    margin:16px 0px 0px 48px;
    width:60%;
    border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ;
}
img:hover{
    scale:105%;
}
.container{
    width:100%;
    font-size:20px;
    height:110vh;
}
.name{
    position: sticky;
    top:0px;
    width:100%;
    color:aqua;
    font-size: 16px;
    background: linear-gradient( to left, #0141b87a, #b90081);
    height:72px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.name span{
    margin-left: 40px;
    font-size: 20px;
    font-family: "Cal Sans", sans-serif;
}

.link{
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap:80px;
    margin-right:16px;
    height:100%;    
}
.link a{
    font-size: 20px;
    color: white;
    transition: all 0.5s ease-in-out;
}
.link a:hover{
    color: aqua;
    transform: scale(1.5);
}
a{
    text-decoration:none;
    color:aqua;
}
.body{
    display:flex;
    height:90%;
    justify-content: center;
}
.image{
    padding:40px 0px 0px 64px;
    width: 50%;
    height: 70vh;
    position:relative;
}
.image::after , .image::before{
    content:'';
    position: absolute;
    width:62%;
    height:84%;
    translate:48px 32px;
    top: 0px;
    left: 0px;
    z-index:-1;
    background: linear-gradient(to right top, #ff00b3, aqua);
    border-radius: 77% 23% 15% 85% / 62% 73% 27% 38% ;
    /* animation:spin 10s ease infinite; */
}
.image::before{
    filter: blur(20px);
    opacity:calc(1.5)
}
.para{
    padding:120px 40px;
    width: 50%;
    height: 61vh;
}
.para h1{
    text-transform:uppercase;
    text-align:center;
    color: aqua;
    width:80%;
    cursor: pointer;
    font-size:42px;
}

.para h1:hover::after{
    position: absolute;
    content: '';
    width:31.8%;
    top: 275px;
    left: 54.3%;
    height: 4px;
    background: linear-gradient(to right, aqua, #ff00b3);
    border-radius: 2px;
    animation: slide 1s ease-in;
    box-shadow: 0px 0px 20px #ff00b3, 0px 0px 20px aqua;
}

.para p{
    margin-top: 32px;
    color: #f0f0f0;
    line-height: 1.5;
    text-align: justify;
}

.para p b{
    color:#ff00b3;
    cursor:pointer;
}

button{
    background: #141e30;
    display: block;
    margin-top: 20px;
    padding: 16px 32px;
    position: relative;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 32px;
    font-size: 20px;
    cursor: pointer;
    color:aqua;
}
button::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border:solid pink px;
    left: -1px;
    top: -1px;
    translate:1px 1px;
    z-index: -1;
    background: linear-gradient(to right bottom, #ff00b3, aqua);
    border-radius: 32px;
}
button:hover{
    color:white;
    z-index: 0;
    box-shadow: 10px -10px 20px #ff00b3, 8px 0px 20px aqua;
}

.para span{
    color: #ffffff;
    font-size: 20px;
    border-right: solid  ;
    animation:cursor 0.8s infinite;
}
.para span::after{
    font-size:28px;
    height:0px;
    color:aqua;
    content:'DEVELOPER';
    animation: words 8s infinite;
}

@keyframes words {
    0%,30%{
        content: 'DEVELOPER';
    }
    40%,70%{
        content: 'UX/UI';
    }
    80%,100%{
        content: 'PROGRAMMER';
    }
}
@keyframes cursor {
    from {
        border-rigth:white ;
    }
    to {
        border-right: rgba(0, 255, 255, 0);
    }
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes slide {
    0% {
        width: 0;
        left: 54.3%;
    }
    100% {
        width: 31.8%;
        left: 54.3%;
    }
}

.balls,.facebook{
    font-size: 50px;
    color: aqua;
    /* animation: spin 10s linear infinite; */
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(to right, #ff00b3, aqua);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 0px 10px #ff00b3, 0px 0px 20px aqua;
}