*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif  ;
}
body{
    background: linear-gradient(to bottom, #141e30, #0b407c);
}
img{
    width:60%;
    border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ;
    position: relative;
}
.container{
    width:100%;
}
.name{
    color:aqua;
    font-size: 16px;
    background: linear-gradient( to left, #0141b87a, #b90081);
    height:72px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.name span{
    margin-left: 40px;
    font-size: 30px;
}
.link{
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap:80px;
    margin-right:16px;
    height:100%
}
.link a{
    font-size: 20px;
    color: white;
    transition: all 0.3s ease-in-out;
}
.link a:hover{
    color: aqua;
    transform: scale(1.5);
}
a{
    text-decoration:none;
    color:aqua;
}
.body{
    padding: 32px 48px;
    display: flex;
    height:80vh;
}
.image{
    padding:40px 0px 0px 64px;
    width: 50%;
    height: 70vh;
    position:relative;
}
.image::after ,.image::before{
    content:'';
    position: absolute;
    width:60%;
    height:80%;
    top: 1;
    left: 0;
    z-index:-1;
    background: linear-gradient(to right top, #ff00b3, aqua);
    border-radius: 73% 27% 30% 70% / 30% 30% 70% 70% ;
}
.image::before{
    filter: blur(20px);
    opacity:calc(1.5)
}
.para{
    padding:48px 40px;
    width: 50%;
    height: 61vh;
}
.para h1{
    text-align:center;
    color:aqua;
    cursor: pointer;
}
@keyframes slide {
    0% {
        width: 0;
        left: 63.7%;
    }
    100% {
        width: 19%;
        left: 63.7%;
    }
}
.para h1:hover::after{
    position: absolute;
    content: '';
    width:19%;
    top:192px;
    left: 63.7%;
    height: 4px;
    background: linear-gradient(to right, aqua, #ff00b3);
    border-radius: 2px;
    animation: slide 0.5s ease-in;
}

.para p{
    margin-top: 32px;
    color: #f0f0f0;
    line-height: 1.5;
    text-align: justify;

}

.para p b{
    color:#ff00b3;
    cursor:pointer;
}
button{
    background: #141e30;
    display: block;
    margin-top: 40px;
    padding: 16px 32px;
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 32px;
    font-size: 20px;
    cursor: pointer;
    color:aqua;
}
button::after{

    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border:solid pink 0.5px;
    left: 0px;
    top: 0;
    z-index: -1;
    background: linear-gradient(to right bottom, #ff00b3, aqua);
    border-radius: 32px;
}
button:hover{
    color:white;
    z-index: 0;
    box-shadow: 10px 0px 50px #ff00b3, 8px 0px 50px aqua;
    opacity: 2;
}