.marqueetag{
    background:linear-gradient(to right bottom,rgba(0, 255, 255, 0.377), rgba(1, 1, 190, 0.329));
    color:white;
    display:flex;
    width:100%;
    height:32px;
    font-size:14px;
    font-family: Courier;
}

.marqueetag span {
    color:black;
    width:11.5%;
    background: aqua;
    text-align:center;
    align-content:center;
    /* clip-path:polygon(0 0, 90% 0, 100% 100%, 0% 100%); */
}
marquee{
    color:white;
    align-content:center;
}
.a{
    color:aqua;
    position:relative;
    
}
.a:hover::after{
    content:'';
    position : absolute;
    top:25px;
    left:1px;
    width:97%;
   height:4px;
   animation:  olala 0.8s ease;
    background: linear-gradient(to bottom left, #ff00b3, aqua);
}
@keyframes olala {
    0% {
        width: 0;
        left: 1px;
    }
    100% {
        width: 97%;
        left: 1px;
    }
}
.b{
    position:relative;
}
.b:hover::after{
    content:'';
    position : absolute;
    top:25px;
    left:1px;
    width:97%;
   height:4px;
   animation:  olala 0.8s ease;
    background: linear-gradient(to bottom left, #ff00b3, aqua);
}
.c{
    position:relative;
}
.c:hover::after{
    content:'';
    position : absolute;
    top:25px;
    left:1px;
    width:97%;
   height:4px;
   animation:  olala 0.8s ease;
    background: linear-gradient(to bottom left, aqua, #ff00b3);
}
.d{
    position:relative;
}
.d:hover::after{
    content:'';
    position : absolute;
    top:25px;
    left:1px;
    width:97%;
   height:4px;
   animation:  olala 0.8s ease;
    background: linear-gradient(to bottom left, aqua, #ff00b3);
}